<fieldset>
  <legend>Observable:</legend>
  <rx-observablescratch></rx-observablescratch>
  <rx-hotvscoldObservable></rx-hotvscoldObservable>
  <rx-subject></rx-subject>
  <rx-behaviourSubject></rx-behaviourSubject>
</fieldset>

<fieldset>
  <legend>Combination:</legend>
  <rx-combineLatest></rx-combineLatest>
</fieldset>

<fieldset>
  <legend>Filtering:</legend>
  <rx-debounceTime></rx-debounceTime>
</fieldset>

<fieldset>
  <legend>Creation(Output on Console):</legend>
  <rx-from></rx-from>
  <rx-fromEvent></rx-fromEvent>
  <rx-of></rx-of>
</fieldset>
